<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Encapsulamentos</title>
  <link rel="icon" href="/static/img/IconTecnoprom.png">
  <link rel="stylesheet" href="/static/css/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <script src="/static/js/script.js"></script>
  <script src="/static/js/encapsulamentos.js"></script>
</head>

  <header>
    <aside class="menu">
      <section class="menu-content">
        <h6>
          <a href="/"><img class="main-logo" src="/static/img/Tecnoprom-Novatec.png" alt="LOGO TECNOPROM"></a>
        </h6>

        <button class="menu-toggle" aria-label="Abrir menu" onclick="toggleMenu()">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <nav class="nav-menu">
          <ul class="nav-list">
            <li><a href="/">Inicio</a></li>
            {% if session.get('access_level') in ['admin', 'vendedor_repos', 'vendedor_serv', 'almoxarifado', 'Comprador_gerencia', 'diretoria'] %}
            <li><a href="/sgp">SGP</a></li>
            {% endif %}
            <li><a href="/ordem_serv">OS</a></li>
            <li><a href="/pedidos">Pedidos</a></li>
            <li class="dropdown">
              <a href="#">Cadastro</a>
              <ul class="dropdown-menu">
                <li><a href="/categorias">Categorias</a></li>
                <li><a href="/encapsulamento">Encapsulamento</a></li>
              </ul>
            </li>
            <li><a href="/usuarios">Usuarios</a></li>
            <li><a href="/logout" class="logout-button">Logout</a></li>
          </ul>
        </nav>
      </section>
    </aside>
  </header>

  <h1 style="text-align: center; padding-top: 2rem;">Lista de Encapsulamentos</h1>
  <!-- Formulário de Adição -->

  <div class="form-container">
    {% if error %}
    <div class="error">{{ error }}</div>
    {% endif %}

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if message != 'Login realizado com sucesso!' %}
    <div class="success">{{ message }}</div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}

    <h2>Adicionar Novo Encapsulamento</h2>
    <form method="POST" action="/encapsulamento">
      <input type="text" name="package" placeholder="Nome do encapsulamento" required>
      <button type="submit">Adicionar</button>
    </form>
  </div>


  <table class="tabela-encapsulamento">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome do Encapsulamento</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for encapsulamento in encapsulamento %}
      <tr>
        <td>{{ encapsulamento.id_pack }}</td>
        <td>{{ encapsulamento.pack }}</td>
        <td>
          <a href="javascript:void(0);" class="btn-editar"
             data-id="{{ encapsulamento.id_pack }}"
             data-nome="{{ encapsulamento.pack }}"
             onclick="abrirModalEditar(this.dataset.id, this.dataset.nome)">Editar</a>
          <form action="/excluir_encapsulamento/{{ encapsulamento.id_pack }}" method="POST" style="display: inline;">
            <button type="submit" class="btn-excluir"
              onclick="return confirm('Tem certeza que deseja excluir este encapsulamento?');">Excluir</button>
          </form>
        </td>
      </tr>
      {% else %}
      <tr>
        <td colspan="3">Nenhum encapsulamento encontrado</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- Modal de edição de encapsulamento -->
  <div id="modalEditarCategoria">
    <div class="modal-content">
      <span class="close" onclick="fecharModalEditar()">&times;</span>
      <h2>Editar Encapsulamento</h2>
      <form id="formEditarCategoria">
        <input type="hidden" name="id_pack" id="edit-id-pack">
        <input type="text" name="package" id="edit-encapsulamento" required>
        <button type="submit" class="btn-editar">Salvar</button>
        <button type="button" onclick="fecharModalEditar()">Cancelar</button>
      </form>
    </div>
  </div>

</body>

</html>